/Debug
/x64
/Release
/.vs
DirectZobEditor/bin
DirectZobEditor/obj
DirectZobEditor/bin
DirectZobEngine/Debug
DirectZobEngine/Release
DirectZobEngine/x64
DirectZobWrapper/x64
DirectZobWrapper/Debug
DirectZobWrapper/Release