**/*.exe
**/*.pdb
**/*.orig
**/*.bak
/*.dll
/Debug
/x64
/Release
/FontExport/.vs
/FontExport/bin
/FontExport/obj
/.vs
/.DS_Store
.DS_Store
DirectZobEditor/bin
DirectZobEditor/obj
DirectZobEditor/bin
DirectZobEngine/Debug
DirectZobEngine/Release
DirectZobEngine/x64
DirectZobWrapper/x64
DirectZobWrapper/Debug
DirectZobWrapper/Release
/thirdParty/tinyXml/changes.txt
/thirdParty/tinyXml/docs/annotated.html
/thirdParty/tinyXml/docs/classes.html
/thirdParty/tinyXml/docs/classTiXmlAttribute.html
/thirdParty/tinyXml/docs/classTiXmlAttribute.png
/thirdParty/tinyXml/docs/classTiXmlAttribute-members.html
/thirdParty/tinyXml/docs/classTiXmlBase.html
/thirdParty/tinyXml/docs/classTiXmlBase.png
/thirdParty/tinyXml/docs/classTiXmlBase-members.html
/thirdParty/tinyXml/docs/classTiXmlComment.html
/thirdParty/tinyXml/docs/classTiXmlComment.png
/thirdParty/tinyXml/docs/classTiXmlComment-members.html
/thirdParty/tinyXml/docs/classTiXmlDeclaration.html
/thirdParty/tinyXml/docs/classTiXmlDeclaration.png
/thirdParty/tinyXml/docs/classTiXmlDeclaration-members.html
/thirdParty/tinyXml/docs/classTiXmlDocument.html
/thirdParty/tinyXml/docs/classTiXmlDocument.png
/thirdParty/tinyXml/docs/classTiXmlDocument-members.html
/thirdParty/tinyXml/docs/classTiXmlElement.html
/thirdParty/tinyXml/docs/classTiXmlElement.png
/thirdParty/tinyXml/docs/classTiXmlElement-members.html
/thirdParty/tinyXml/docs/classTiXmlHandle.html
/thirdParty/tinyXml/docs/classTiXmlHandle-members.html
/thirdParty/tinyXml/docs/classTiXmlNode.html
/thirdParty/tinyXml/docs/classTiXmlNode.png
/thirdParty/tinyXml/docs/classTiXmlNode-members.html
/thirdParty/tinyXml/docs/classTiXmlPrinter.html
/thirdParty/tinyXml/docs/classTiXmlPrinter.png
/thirdParty/tinyXml/docs/classTiXmlPrinter-members.html
/thirdParty/tinyXml/docs/classTiXmlText.html
/thirdParty/tinyXml/docs/classTiXmlText.png
/thirdParty/tinyXml/docs/classTiXmlText-members.html
/thirdParty/tinyXml/docs/classTiXmlUnknown.html
/thirdParty/tinyXml/docs/classTiXmlUnknown.png
/thirdParty/tinyXml/docs/classTiXmlUnknown-members.html
/thirdParty/tinyXml/docs/classTiXmlVisitor.html
/thirdParty/tinyXml/docs/classTiXmlVisitor.png
/thirdParty/tinyXml/docs/classTiXmlVisitor-members.html
/thirdParty/tinyXml/docs/deprecated.html
/thirdParty/tinyXml/docs/doxygen.css
/thirdParty/tinyXml/docs/doxygen.png
/thirdParty/tinyXml/docs/files.html
/thirdParty/tinyXml/docs/functions.html
/thirdParty/tinyXml/docs/functions_0x63.html
/thirdParty/tinyXml/docs/functions_0x64.html
/thirdParty/tinyXml/docs/functions_0x65.html
/thirdParty/tinyXml/docs/functions_0x66.html
/thirdParty/tinyXml/docs/functions_0x67.html
/thirdParty/tinyXml/docs/functions_0x69.html
/thirdParty/tinyXml/docs/functions_0x6c.html
/thirdParty/tinyXml/docs/functions_0x6e.html
/thirdParty/tinyXml/docs/functions_0x6f.html
/thirdParty/tinyXml/docs/functions_0x70.html
/thirdParty/tinyXml/docs/functions_0x71.html
/thirdParty/tinyXml/docs/functions_0x72.html
/thirdParty/tinyXml/docs/functions_0x73.html
/thirdParty/tinyXml/docs/functions_0x74.html
/thirdParty/tinyXml/docs/functions_0x75.html
/thirdParty/tinyXml/docs/functions_0x76.html
/thirdParty/tinyXml/docs/functions_enum.html
/thirdParty/tinyXml/docs/functions_func.html
/thirdParty/tinyXml/docs/functions_func_0x63.html
/thirdParty/tinyXml/docs/functions_func_0x64.html
/thirdParty/tinyXml/docs/functions_func_0x65.html
/thirdParty/tinyXml/docs/functions_func_0x66.html
/thirdParty/tinyXml/docs/functions_func_0x67.html
/thirdParty/tinyXml/docs/functions_func_0x69.html
/thirdParty/tinyXml/docs/functions_func_0x6c.html
/thirdParty/tinyXml/docs/functions_func_0x6e.html
/thirdParty/tinyXml/docs/functions_func_0x70.html
/thirdParty/tinyXml/docs/functions_func_0x71.html
/thirdParty/tinyXml/docs/functions_func_0x72.html
/thirdParty/tinyXml/docs/functions_func_0x73.html
/thirdParty/tinyXml/docs/functions_func_0x74.html
/thirdParty/tinyXml/docs/functions_func_0x75.html
/thirdParty/tinyXml/docs/functions_func_0x76.html
/thirdParty/tinyXml/docs/functions_rela.html
/thirdParty/tinyXml/docs/functions_vars.html
/thirdParty/tinyXml/docs/hierarchy.html
/thirdParty/tinyXml/docs/index.html
/thirdParty/tinyXml/docs/pages.html
/thirdParty/tinyXml/docs/tab_b.gif
/thirdParty/tinyXml/docs/tab_l.gif
/thirdParty/tinyXml/docs/tab_r.gif
/thirdParty/tinyXml/docs/tabs.css
/thirdParty/tinyXml/docs/tinystr_8h_source.html
/thirdParty/tinyXml/docs/tinyxml_8h_source.html
/thirdParty/tinyXml/docs/tutorial0.html
/thirdParty/tinyXml/Makefile
/thirdParty/tinyXml/readme.txt
/thirdParty/tinyXml/tinystr.cpp
/thirdParty/tinyXml/tinystr.h
/thirdParty/tinyXml/tinyxml.cpp
/thirdParty/tinyXml/tinyxml.h
/thirdParty/tinyXml/tinyxml.sln
/thirdParty/tinyXml/tinyxml_lib.vcxproj
/thirdParty/tinyXml/tinyxmlerror.cpp
/thirdParty/tinyXml/tinyxmlparser.cpp
/thirdParty/tinyXml/tinyxmlSTL.vcxproj
/thirdParty/tinyXml/tinyXmlTest.vcxproj
/thirdParty/tinyXml/tinyXmlTestSTL.vcxproj
/thirdParty/tinyXml/utf8test.gif
/thirdParty/tinyXml/utf8test.xml
/thirdParty/tinyXml/utf8testverify.xml
/thirdParty/tinyXml/xmltest.cpp
/resources/test
/resources/DeLorean.mtl
/resources/DeLorean.obj
/resources/DeLorean.xml
/resources/Textures/chrome lights bump.png
/resources/Textures/DeLorean glass.jpg
/resources/Textures/grill wire bump.png
/resources/Textures/grill wire opacity.png
/resources/Textures/metal brushed.png
/resources/Textures/noise.jpg
/resources/Textures/rim logo.png
/resources/Textures/sticker mask.png
/resources/Textures/tire normal.png
/DirectZobEngine/build
/dependencies/minifb/minifb.sln
/dependencies/minifb/minifb.vcproj
/dependencies/nanojpeg/nanojpeg.sln
/dependencies/nanojpeg/nanojpeg.vcproj
/dependencies/tinyxml/tinyxml.sln
/dependencies/tinyxml/tinyxml.vcproj
/DirectZobEngine/DirectZob.sln
/DirectZobEngine/DirectZobDInterop.vcproj
/DirectZobEngine/DirectZobEngine.vcproj
/DirectZobEngine/DirectZobExe.vcproj
DirectZobExe
